<footer class="footer" id="footer">
  <div class="container">
    <ul class=" pull-left navbar-link footer-nav">
      <li>
        <a href ui-sref="main"> Home </a>
        <a href ui-sref="about-us"> About us </a>
        <a ng-href="docs/Gestalt-IT-Consultancy-Private-Limited-TOR.pdf" target="_blank">
          Terms and Conditions
        </a>
        <a href ui-sref="under-construction"> Privacy Policy </a>
        <a href ui-sref="contact-us"> Contact us </a>
        <a href ui-sref="under-construction"> FAQ</a>
      </ul>
      <ul class=" pull-right navbar-link footer-nav">
        <li>Copyright &copy; 2014-2015 All rights reserved. Gestalt</li>
      </ul>
    </div>
  </footer>
